body{
    background-color: white;
    background-size: cover;
}

.login{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.pinimg.com/originals/50/38/f6/5038f6672f089f3a50c4f075feddfc42.gif");
    background-position: right bottom;
    background-repeat: no-repeat;
}
